<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Gively Test Suite For Interview" parallel="false" thread-count="1" >
    <test verbose="1" preserve-order="false" name="/Users/Hyatt/git/Gively/src/test/java/stepdefs/TestRunner.java">
        <classes>
            <class name="stepdefs.TestRunner"/>
        </classes>
    </test>
</suite>
